<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmput301w13t09.cmput301project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.email.permission.ACCESS_PROVIDER"/>
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cmput301w13t09.cmput301project.activities.MainMenuView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmput301w13t09.cmput301project.activities.MyPantryView"
            android:exported="false"
            android:label="@string/pantry" >
            <intent-filter>
                <action android:name="activities.MyPantry" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmput301w13t09.cmput301project.activities.MyRecipesView"
            android:exported="false"
            android:label="@string/recipes" >
            <intent-filter>
                <action android:name="activities.MyRecipes" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmput301w13t09.cmput301project.activities.AddNewIngredientView"
            android:exported="false"
            android:label="@string/title_activity_add_new_ingredient" >
            <intent-filter>
                <action android:name="activities.AddIngredient" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmput301w13t09.cmput301project.activities.CreateNewRecipeView"
            android:exported="false"
            android:label="@string/title_activity_create_new_recipe_view" >
            <intent-filter>
                <action android:name="activities.CreateNewRecipe" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmput301w13t09.cmput301project.activities.RecipeView"
            android:exported="false"
            android:label="@string/title_activity_view_recipe_view" >
            <intent-filter>
                <action android:name="activities.ViewRecipe" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmput301w13t09.cmput301project.activities.EditRecipeView"
            android:exported="false"
            android:label="@string/title_activity_edit_recipe_view" >
            <intent-filter>
                <action android:name="activities.EditRecipe" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmput301w13t09.cmput301project.activities.MySharingView"
            android:exported="false"
            android:label="@string/title_activity_my_sharing_view" >
            <intent-filter>
                <action android:name="activities.MySharing" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmput301w13t09.cmput301project.activities.PublishRecipeView"
            android:exported="false"
            android:label="@string/title_activity_publish_recipe_view" >
            <intent-filter>
                <action android:name="activities.PublishRecipe" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmput301w13t09.cmput301project.activities.RecipesOnWebView"
            android:exported="false"
            android:label="@string/title_activity_recipes_on_web_view" >
            <intent-filter>
                <action android:name="activities.RecipesOnWeb" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmput301w13t09.cmput301project.activities.RecipesOnWebViewOffline"
            android:exported="false"
            android:label="@string/title_activity_recipes_on_web_view_offline" >
            <intent-filter>
                <action android:name="activities.RecipesOnWebOffline" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmput301w13t09.cmput301project.activities.ReadRecipeExtensionView"
            android:exported="true"
            android:label="@string/title_activity_read_recipe_extension_view" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.recipe" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="application/recipe"
                    android:pathPattern=".*\\.recipe" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="text/recipe"
                    android:pathPattern=".*\\.recipe" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmput301w13t09.cmput301project.activities.QueryRecipeView"
            android:exported="false"
            android:label="@string/title_activity_query_recipe_view" >
            <intent-filter>
                <action android:name="activities.QueryRecipes" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmput301w13t09.cmput301project.activities.QueryRecipeOfflineView"
            android:exported="false"
            android:label="@string/title_activity_query_recipe_offline_view" >
            <intent-filter>
                <action android:name="activities.QueryOfflineRecipes" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
